.jsonPreview :global(.token.property) {
  color: #5a67d8;
}

.jsonPreview :global(.token.string) {
  color: #48bb78;
}

.jsonPreview :global(.token.number) {
  color: #d69e2e;
}

.jsonPreview :global(.token.boolean) {
  color: #d53f8c;
}

.jsonPreview :global(.token.null) {
  color: #9061f9;
}

.jsonPreview :global(.token.punctuation) {
  color: #718096;
}
